{% extends 'base.html' %}
{% block title %}会員本登録結果{% endblock %}
{% block class1 %}center-container{% endblock %}
{% block head1 %}会員本登録結果{% endblock %}
{% block content %}
{% if error %}
<p>URLに誤りがあるか、URLの有効期限が切れています。</p>
<p>URLを再度ご確認ください。</p>
<p>URLの有効期限が切れている場合は、パスワードを再設定することで会員の本登録が完了します。</p>
<div class="d-grid gap-1 mb-5 mt-5">
    <a class="btn btn-primary" href="{% url 'accounts:forgot_password' %}" role="button">パスワードの再設定</a>
</div>
<p>本登録が完了できない場合は、お手数ですがもう一度会員登録からやり直してください。</p>
<div class="d-grid gap-1 mt-5">
    <a class="btn btn-primary" href="{% url 'accounts:regist_user' %}" role="button">会員登録</a>
</div>
{% else %}
<p>ユーザーの本登録が完了しました。</p>
<p>ログインして、ペットの登録をお願いします。</p>
<div class="d-block mb-5"></div>
<div class="d-grid gap-1">
    <a class="btn btn-primary" href="{% url 'accounts:user_login' %}" role="button">ログイン</a>
</div>
{% endif %}

{% endblock %}