{% extends 'base.html' %}
{% load accounts_tags %} 
{% block title %}登録ペット一覧{% endblock %}
{% block head1 %}登録ペット一覧{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
  <a class="btn btn-primary mt-2 mb-2" href="{% url 'accounts:regist_pet' %}" role="button">ペットを追加する</a>
  <a class="btn btn-primary mt-2 mb-2" href="{% url 'pet_calendar:home' %}" role="button">カレンダーに戻る</a>
</div>
<div>

{% for object in object_list %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-5">
    {% if object.picture %}
      <img src="{{ object.picture.url }}" class="img-fluid rounded">
    {% endif %}
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{ object.name }} ちゃん</h5>
        <p class="card-text">{{ object.gender|gender_name }}</p>
        <p class="card-text">{{ object.birthday }} 生まれ</p>
        <p class="card-text">{{ object.comment|linebreaks }}</p>
        <div class="d-grid gap-2">
        <a class="btn btn-primary m-2" href="{% url 'accounts:update_pet' object.id %}" role="button">この情報を修正する</a>
        <a class="btn btn-danger m-2" href="{% url 'accounts:delete_pet' object.id %}" role="button">この情報を削除する</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}

</div>
{% endblock %}