{% extends 'base.html' %}
{% block title %}会員登録{% endblock %}
{% block head1 %}会員登録{% endblock %}
{% block content %}
<form method="POST">
   {% csrf_token %}
   <div class="mb-3">
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}" class="form-label">飼い主様の苗字</label>
      {{ form.username }}
   </div>
   <div class="mb-3">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}" class="form-label">メールアドレス</label>
      {{ form.email }}
   </div>
   <div class="mb-3">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}" class="form-label">パスワード</label>
      {{ form.password }}
   </div>
   <div class="mb-3">
      {{ form.confirm_password.errors }}
      <label for="{{ form.confirm_password.id_for_label }}" class="form-label">パスワード再入力</label>
      {{ form.confirm_password }}
   </div>
   <div class="mb-3">
      {{ form.zip_code.errors }}
      <label for="{{ form.zip_code.id_for_label }}" class="form-label">郵便番号</label>
      {{ form.zip_code }}
   </div>
   <div class="mb-3">
      {{ form.address1.errors }}
      <label for="{{ form.address1.id_for_label }}" class="form-label">住所</label>
      {{ form.address1 }}
   </div>
   <div class="mb-3">
      {{ form.address2.errors }}
      <label for="{{ form.address2.id_for_label }}" class="form-label">番地</label>
      {{ form.address2 }}
   </div>
   <div class="mb-3">
      {{ form.address3.errors }}
      <label for="{{ form.address3.id_for_label }}" class="form-label">方書</label>
      {{ form.address3 }}
   </div>
   <div class="mb-3">
      {{ form.phone_number.errors }}
      <label for="{{ form.phone_number.id_for_label }}" class="form-label">電話番号</label>
      {{ form.phone_number }}
   </div>

   <div class="d-grid gap-1">
      <input class="btn btn-primary mt-3" type="submit" value="登録する">
   </div>
</form>
{% endblock %}