{% extends 'base.html' %}
{% block title %}会員登録{% endblock %}
{% block head1 %}会員登録{% endblock %}
{% block content %}
<form method="POST">
   {% csrf_token %}
   <div class="mb-3">
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}" class="form-label">飼い主様の苗字</label>
      {{ form.username }}
   </div>
   <div class="mb-3">
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}" class="form-label">メールアドレス</label>
      {{ form.email }}
   </div>
   <div class="mb-3">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}" class="form-label">パスワード</label>
      {{ form.password }}
   </div>
   <div class="mb-3">
      {{ form.confirm_password.errors }}
      <label for="{{ form.confirm_password.id_for_label }}" class="form-label">パスワード再入力</label>
      {{ form.confirm_password }}
   </div>

   <div class="d-grid gap-1">
      <input class="btn btn-primary mt-3" type="submit" value="登録する">
   </div>
</form>
{% endblock %}