{% extends 'base.html' %}
{% block title %}パスワード再設定{% endblock %}
{% block head1 %}パスワード再設定{% endblock %}
{% block content %}
{% if error %}
<p>URLに誤りがあるか、URLの有効期限が切れています。</p>
<p>URLを再度ご確認ください。</p>
<p>パスワードの再設定が完了できない場合は、お手数ですがもう一度パスワード再設定URLの送信を行ってください。</p>
<a class="btn btn-secondary m-2" href="{% url 'accounts:forgot_password' %}" role="button">パスワード再設定URLの送信</a>

{% else %}
<form method="POST">
   {% csrf_token %}
   <div class="mb-3">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}" class="form-label">パスワード</label>
      {{ form.password }}
   </div>
   <div class="mb-3">
      {{ form.confirm_password.errors }}
      <label for="{{ form.confirm_password.id_for_label }}" class="form-label">パスワード再入力</label>
      {{ form.confirm_password }}
   </div>

   <input type="hidden" name="token" value="{{ view.kwargs.token }}">
   <input class="btn btn-primary" type="submit" value="パスワードを設定する">
</form>
{% endif %}

{% endblock %}