{% extends "base.html" %}
{% load mathfilters %}
{% load calendar_tags %} 
{% block title %}ペットカレンダー{% endblock %}
{% block head1 %}カレンダー{% endblock %}
{% block content %}

<table class="table">
    <thead>
        <td class="col-1">月</td>
        <td class="col-1">火</td>
        <td class="col-1">水</td>
        <td class="col-1">木</td>
        <td class="col-1">金</td>
        <td class="col-1">土</td>
        <td class="col-1">日</td>
    </thead>
    <tbody>
        <tr>
            {% for day in first_weekday_range %}
            <td></td>
            {% endfor %}
            {% for day in days_in_month %}
            {% if forloop.counter > 1 and day|add:first_weekday|escape|mod:7 == 1 %}
            <tr>
            {% endif %}
                <td>
                    {% if pet_list|pet_exists:day %}
                        <a href="{% url 'pet_calendar:day_list' month day %}">{{ day }}</a>
                        {% if pet_list|get_pet_picture_url:day %}
                            <img width="50px" src="{{ pet_list|get_pet_picture_url:day }}">
                        {% endif %}
                        {{ pet_count_list|get_pet_count:day }}
                    {% else %}
                        {{ day }}
                    {% endif %}
                </td>
            {% if day|add:first_weekday|escape|mod:7 == 0 %}
            </tr>
            {% endif %}
            {% endfor %}
    </tbody>
</table>
<a class="btn btn-secondary" href="{% url 'pet_calendar:before_month' year month %}" role="button">前月</a>
<a class="btn btn-secondary" href="{% url 'pet_calendar:next_month'  year month %}" role="button">翌月</a>
{% endblock %}
