{% extends "base.html" %}
{% load mathfilters %}
{% load calendar_tags %} 
{% block title %}ペットカレンダー{% endblock %}
{% block head1 %}カレンダー{% endblock %}
{% block content %}

<div class="d-flex justify-content-between">
    <a class="btn btn-primary" href="{% url 'pet_calendar:before_month' year month %}" role="button">前月</a>
    <div class="p-1">{{ year }}年{{ month }}月</div>
    <a class="btn btn-primary" href="{% url 'pet_calendar:next_month'  year month %}" role="button">翌月</a>
</div>
<form method="GET" id="ajax-get-birthday-pets">
<table class="table calendar">
    <thead>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th><div class="calendar-saturday">土</div></th>
        <th><div class="calendar-sunday">日</div></th>
    </thead>
    <tbody>
        <tr class="calendar-tr">
            {% for day in first_weekday_range %}
            <td></td>
            {% endfor %}
            {% for day in days_in_month %}
            {% if forloop.counter > 1 and day|add:first_weekday|escape|mod:7 == 1 %}
            <tr class="calendar-tr">
            {% endif %}
            {% if day|add:first_weekday|escape|mod:7 == 6 %}
                <td class="calendar-saturday">
            {% elif day|add:first_weekday|escape|mod:7 == 0 %}
                <td class="calendar-sunday">
            {% else %}
                <td>
            {% endif %}
                    {% if pet_list|pet_exists:day %}
                        <div onclick="birthday_pets({{ day }})">
                            {{ day }}
                            <div class="regist-img">
                            {% load static %}
                            <img src="{% static 'image/nikukyuu_40x40.png' %}" alt="">
                            </div>
                            <div class="regist-number">({{ pet_count_list|get_pet_count:day }})</div>
                        </div>
                    {% else %}
                        {{ day }}
                    {% endif %}
                </td>
            {% if day|add:first_weekday|escape|mod:7 == 0 %}
            </tr>
            {% endif %}
            {% endfor %}
    </tbody>
</table>
</form>
<div id="day-list">

</div>
{% endblock %}

{% block script %}
<script>
    // document.getElementById('ajax-get-birthday-pets').addEventListener('click', e => {
    //     const post_area = document.getElementById('day-list');
    //     if (e.target.tagName = 'TD') {
    //         post_area.innerText = '';
    //     }
    // });

    function birthday_pets(d){
        const month = {{ month }};
        const day = d;

        const url = `{% url "pet_calendar:ajax_get_birthday_pets" %}?month=${month}&day=${day}`;
        const post_area = document.getElementById('day-list');
        //create gender dictionary
        const gender_map = new Map([[1,'オス'], [2,'メス'], [3,'性別不明']]);
        const date_options = { year: 'numeric', month: 'long', day: 'numeric' };

        fetch(url)
            .then(response => {
                return response.json();
            }).then(response => {
                post_area.innerHTML = '';
                for(const pet of response.pets_model){
                    //card
                    const div_card = document.createElement('div');
                    div_card.className = "card mb-3";
                    //row
                    const div_row = document.createElement('div');
                    div_row.className = "row g-0";
                    div_card.appendChild(div_row);
                    //picture area
                    const div_col_1 = document.createElement('div');
                    div_col_1.className = "col-md-5";
                    const img_picture = document.createElement('img');
                    img_picture.className = "img-fluid rounded";
                    img_picture.src = response.pets_media_url[pet["pk"]]
                    div_col_1.appendChild(img_picture);
                    div_row.appendChild(div_col_1);
                    //non picture
                    const div_col_2 = document.createElement('div');
                    div_col_2.className = "col-md-7";
                    //card body
                    const div_card_body = document.createElement('div');
                    div_card_body.className = "card-body";
                    div_col_2.appendChild(div_card_body);
                    //name
                    const h5_name = document.createElement('h5');
                    h5_name.className = "card-title";
                    h5_name.textContent = pet.fields["name"] + "ちゃん";
                    div_card_body.appendChild(h5_name);
                    //gender
                    const p_gender = document.createElement('p');
                    p_gender.className = "card-text";
                    p_gender.textContent = gender_map.get(pet.fields["gender"]);
                    div_card_body.appendChild(p_gender);
                    //birthday
                    const p_birthday = document.createElement('p');
                    p_birthday.className = "card-text";
                    const birthday_date = new Date(pet.fields["birthday"]);
                    p_birthday.textContent = birthday_date.toLocaleDateString(undefined, date_options) + "生まれ";
                    div_card_body.appendChild(p_birthday);
                    //comment
                    const p_comment = document.createElement('p');
                    p_comment.className = "card-text";
                    p_comment.textContent = pet.fields["comment"];
                    div_card_body.appendChild(p_comment);
                    div_row.appendChild(div_col_2);
                    
                    post_area.appendChild(div_card);

                }
                window.scroll({
                    top:post_area.getBoundingClientRect().top,
                    behavior:"smooth"
                });
        }).catch(error => {
            console.log(error);
        });
    }
    //# sourceURL=http://debug/test.js
</script>
{% endblock %}
